body {
  font-size: 25px;
  margin: 0;
  font-family: 'ZCOOL KuaiLe', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, input, select{
  margin: 0 0;
  padding:0 0 ;
  font-size: 25px;
  font-family: 'ZCOOL KuaiLe', cursive;
}
small{
  font-size: 20px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button, input{
  box-shadow: none;
  border: none;
  padding: 5px 10px;
  border-radius: 0;

}